* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  font-family: Verdana, Arial, sans-serif;
}
header {
  background: url("https://www.forcepoint.com/sites/default/files/styles/1800x514_sc/public/swg-header-faded-1920x514.jpg?itok=l6IL4BMS&timestamp=1650388494");
  background-repeat: no-repeat;
  background-position: center;
}
#site-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 10px 10px 5px;
  margin-left: 20px;
  clear: both;
}
#main-menu {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
#main-menu li {
  float: left;
  list-style: none;
}
#main-menu a {
  display: block;
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid white;
  cursor: pointer;
}
#main-menu li:last-child a {
  /* border-right: none; */
}
#main-menu a:hover {
  border: 1px solid black;
  transition: all 0.5s ease-out;
}
#main-menu:after {
  content: " ";
  display: table;
  clear: both;
}
#wrapper {
  /* background-color: #f7f7f7; */
}
aside {
  /* background-color: aqua; */
}
aside h2 {
  font-size: 0.95em;
  margin-top: 15px;
}
aside h3 {
  font-size: 0.85em;
  margin-top: 10px;
}
aside p,
aside li {
  font-size: 1.0em;
}
aside li {
  list-style-type: none;
}
#leftSidebar {
  float: left;
  width: 200px;
  padding: 0 0px 0 0px;
}
#leftSidebar h3 {
  font-size: 18px;
  padding: 10px 0 10px 20px;
}
#rightSidebar {
  float: right;
  width: 230px;
  padding: 0 20px 0 10px;
}
#rightSidebar h3 {
  font-size: 18px;
  padding: 10px 0 10px 0;
}
article {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: 200px;
  margin-right: 250px;
  padding: 15px;
}
article:after {
  clear: both;
  display: table;
  content: "";
}
article h1 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
article h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
}
article p {
  line-height: 150%;
  margin-bottom: 15px;
}
footer {
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  text-align: center;
  padding: 10px 10px 30px 10px;
}
#main-menu ul,
header h1,
#wrapper,
footer p {
  max-width: 1200px;
  margin: 0 auto;
}
#wrapper,
#main-menu,
header,
footer {
  min-width: 768px;
}

ul#context-menu {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
ul#context-menu a {
  display: block;
  padding: 20px;
  border-left: 4px solid white;
  text-decoration: none;
  color: #333;
}
ul#context-menu a:hover {
  color: #333;
  background-color: #eee;
  border-left: 4px solid gray;
}
/* ul.menu li:last-child a {
  border-bottom: 1px dashed #333;
} */